{% extends 'base.html' %}

{% block title %}Eliminar Préstamo{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 mb-4">Eliminar Préstamo</h1>
    <p>¿Estás seguro de que deseas eliminar el préstamo de {{ loan.first_name }} {{ loan.last_name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'loan_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}